// Custom styles.
.content-wrap {
  +tablet() {
    width: 100%;
    padding: 20px;
  }
  +mobile() {
    width: 100%;
    padding: 0px;
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .posts-expand {
    margin: 0 14px;
  }
}
